{% extends 'profile/base1.html' %}

{% block main %}

 
<div class="container">
    <h2 class="text-center my-3">CHANGE PASSWORD</h2>

    <form action="/change_password/" method="POST">
        {% csrf_token %}
        <input type="password" name="new" placeholder="Enter New Password" class="form-control">
        <br>

        <input type="password" name="confirm" placeholder="Confirm Password" class="form-control">
        <br>
        
        <input type="submit" value="CHANGE PASSWORD" class="btn btn-primary">
    </form>
</div>


{% endblock main %}