{% extends 'base.html' %}

{% block main %}
    <div class="container mt-5">
        <h1 class="text-center">All About Notes Sharing</h1>
        <p style="font-size: 1.4rem; line-height: 3rem; " class="mt-3">
            <b>“Online Note Sharing”</b> is the project used for sharing notes using the website. Notes that the user wants for a particular subject can be found in the website. This project is written in Python Django and sqlite. Firstly, the user need to sign up and then, they can log in to the system. Then , the user can view notes , upload notes , search for specific note.
        </p>
    </div>

{% endblock %}