{% extends 'base.html' %}

{% block main %}
    <div class="container">
        <h2 class="text-center m-3">Contact US</h2>

        <form action="/contact/" method="POST">
            {% csrf_token %}
            <input type="text" class="form-control" placeholder="Your Full Name" name="name" required><br>
            <input type="email" class="form-control" placeholder="Your Email" name="email" required><br>
            <input type="number" class="form-control" placeholder="Your Contact Number" name="phone" required><br>
            <input type="text" class="form-control" placeholder="Subject" name="subject" required><br>

            <textarea name="message" id="" cols="20" rows="10" class="form-control" placeholder="Enter your message " required></textarea>

            <input type="submit" value="SEND MESSAGE" class="btn btn-primary mt-3">
        </form>

    </div>
{% endblock %}