{% extends 'base.html' %}

{% block main %}
 
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">WELCOME TO MY NOTES SHARING APP</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Online Note Sharing” is the project used for sharing notes using the website. Notes that the user wants for a particular subject can be found in the website. This project is written in Python Django and sqlite.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/user_signup/" type="button" class="btn btn-primary btn-lg px-4 gap-3">GET STARTED</a>
        <a href="/about/" type="button" class="btn btn-outline-secondary btn-lg px-4">ABOUT US</a>
      </div>
    </div>
</div>

{% endblock %}