{% extends 'base.html' %}

{% block main %}

<div class="container">
    <h2 class="text-center m-3">User Sign Up Form</h2>

    <form action="/user_signup/" method="POST">
        {% csrf_token %}
        <div class="row my-3">
            <div class="col">
                <input type="text" class="form-control" placeholder="First Name" name="fname" required>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Last Name" name="lname" required>
            </div>
        </div>

        <div class="row my-3">
            <div class="col">
                <input type="number" class="form-control" placeholder="Contact Number" name="phone" required>
            </div>
            <div class="col">
                <input type="email" class="form-control" placeholder="Email Address" name="email"  required>
            </div>   
        </div>

        <div class="row my-3">
            <div class="col">
                <input type="text" name="username" class="form-control" placeholder="Username" required>
            </div>
            <div class="col">
                <input type="password" name="password" class="form-control" placeholder="Password" required>
            </div>
            
        </div>

        <div class="row my-3">
            <div class="col">
                <select name="branch" class="form-select" required>
                    {% for branch in branches%}
                        <option value={{branch.id}}>{{branch.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col">
                <select name="role" class="form-select" required>
                    <option value="Student">Student</option>
                    <option value="Teacher">Teacher</option>
                </select>
            </div>

        </div>
        



        <input type="submit" value="SIGNUP" class="btn btn-primary mt-3">
        <br><br>
        <a href="/user_login/" style="text-decoration: none;">Already have an account ? Then login</a>
    </form>

</div>


{% endblock %}